<div class="container">
  <div class="jumbotron center">
    <% if current_user %>
        <h1><%= current_user.name.titleize %></h1>

     

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Your wallet</h3>
          </div>
          
          <div class="panel-body">
            <table class="table">
            <thead>
              <th>Address</th>
              <th>Balance (Ƀ)</th>
              <th>Balance ($)</th>
            </thead>
            <tr>
              <td> <%= current_user.wallet.receiving_address %> </td>
              <% if current_user.wallet.balance == nil %>
                  <%  current_user.wallet.balance = 0 %>
                  <%  current_user.wallet.save() %>
                  <%  current_user.save() %>
              <% end %>                  

              <% if current_user.wallet.balance == 0 %>
                <p> Begin by sending some BTC to your receiving address, displayed below.</p>
              <% else %>    
              <% require 'curb' %>
              <% url = "https://bitcoin.toshi.io/api/v0/addresses/" %>
              <% url += current_user.wallet.receiving_address %>
              <% @data = Curl.get(url).body_str %>
  
               <% hash_data = JSON.parse(@data) %>
               <% balance = hash_data['balance'].to_i + hash_data['unconfirmed_received'].to_i %>
               <% current_user.wallet.balance = balance %>
                
               <% current_user.wallet.save() %>
               <% current_user.save() %>
              <% end %>

              <td>
                <% if current_user.wallet.balance < 1.0 %>
                    <%= current_user.wallet.balance.to_f.fdiv(100000000) %> bitcoin
                <% else %>
                    <%= current_user.wallet.balance.to_f.fdiv(100000000) %> bitcoins
                <% end %> 
              </td>
              <% url = "https://api.coindesk.com/v1/bpi/currentprice.json" %>
              <% balance = current_user.wallet.balance %>

              <% @data = Curl.get(url).body_str %>

              <% dollar = JSON.parse(@data)["bpi"]["USD"]["rate"].to_f %>
              <% dollar_balance = ((balance * dollar)).fdiv(100000000) %>

<!--               <% puts "balance " + balance.to_f.to_s %>
              <% puts "rate " + dollar.to_f.to_s %>
              <% puts "baldol " + dollar_balance.to_f.to_s %> -->

              <td>           
                <%= dollar_balance %>  
              </td> 
              
            </tr>
            </table>
          </div>
        </div>

    <% else %>
        <h1>Coins</h1>
    <% end %>
    <p> Top up your account, get your friends online, and send them coins. </p>
    <p> For free. Forever. </p>
  </div>
</div>



<!--
      <div class="container">
        <div class="col-lg-4">
          <h2>Simple</h2>
          <p>Simplicity is the state or quality of being simple. It usually relates to the burden which a thing puts on someone trying to explain or understand it. Something which is easy to understand or explain is simple, in contrast to something complicated.</p>
          <p>"Simplicity boils down to two steps: Identify the essential. Eliminate the rest." – Leo Babauta</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Secure</h2>
          <p>Data security means protecting data, such as a database, from destructive forces and the unwanted actions of unauthorized users. In cryptography, encryption is the process of encoding messages or information in such a way that only authorized parties can read it. Encryption does not of itself prevent interception, but denies the message content to the interceptor. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Social</h2>
          <p>The term social refers to a characteristic of living organisms as applied to populations of humans and other animals. It always refers to the interaction of organisms with other organisms and to their collective co-existence, irrespective of whether they are aware of it or not, and irrespective of whether the interaction is voluntary or involuntary.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Colle Industries 2014</p>
      </div>
-->
<!--    </div>  /container -->
