
<div class="panel panel-default">
  <%= form_for(@transfer) do |f| %>
    <% if @transfer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

        <ul>
        <% @transfer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="panel-body">
    <div class="form-group">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :recipient_id %><br> 
      <!-- <%= f.autocomplete_field :recipient_id, autocomplete_user_name_suggestions_path, :id_element => '#transfer_recipient_id', class: "form-control" %> -->
      <%= f.hidden_field :recipient_id, :id_element => 'transfer_recipient_id' %>
      <%= autocomplete_field_tag 'recipient', '',
          autocomplete_user_name_suggestions_path,
          :size => 75, :id_element => '#transfer_recipient_id', class: "form-control"  %>

    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-success" %>
    </div>
    </div>
  <% end %>
</div>