<p id="notice"></p>

<p>
  <strong>Quantity:</strong>
  <%= @transfer.quantity %>
</p>

<p>
  <strong>Sender:</strong>
  <%= User.find(@transfer.sender_id).name.titleize %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= User.find(@transfer.recipient_id).name.titleize %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
